.filter-chip {
  background-color: #363636;
  color: white;
  border-radius: 28.5px;
  padding:8px 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  white-space: nowrap;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.filter-chip.selected {
  background-color: #FFD147;
  color: #391E99;
}

.filter-chip:active {
  transform: scale(0.98);
}

.plus-icon {
  margin-left: 3px;
  display: flex;
  align-items: center;
  stroke-width: 3px;
  size: 14px;
  transition: transform 0.3s ease;
}

.filter-chip.selected .plus-icon {
    transform: rotate(45deg);
}