.group-card {
    width: 169px;
    height: 214px;
    border-radius: 18.5px;
    overflow: hidden;
  }
  
  .group-image {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  
  .group-name-container {
    background-color: #fce7f3;
    padding: 12px;
    text-align: center;
    border-bottom-left-radius: 18.5px;
    border-bottom-right-radius: 18.5px;
  }
  
  .group-name {
    color: #391E99 !important;
    font-size: 20px !important;
    font-style: medium !important;
    font-family: 'Inter';
    margin: 0;
  }