.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.switch-wrapper {
  position: relative;
  display: flex;
  width: 353px;
  height: 53px;
  background-color: #d7d2eb;
  border-radius: 9999px;
  padding: 4px;
}

.switch-indicator {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: #391E99;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  height: 40px;
}

.switch-tab {
  flex: 1;
  border: none;
  background: transparent;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  transition: color 0.3s ease;
}

.switch-tab.active {
  color: white;
}

.switch-tab:not(.active) {
  color: white;
}

